.Input:focus {
    outline: none;
}

.Input{
    padding-left: 1.5rem;
    background-color: transparent;
    color: black;
    font-size: 1.2rem;
    width: 100%;

    &::placeholder{
        color: black;
        font-size: 1.2rem;
    }
}
